<div [formGroup]="reactiveForm" class="container">
    <div class="row">
        <div class="col-6 mt-2">
            <div class="form-group mb-0">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-search mr-2"></i>
                        </span>
                    </div>
                    <input formControlName="searchTerm" class="form-control" type="text">
                </div>
            </div>
        </div>
        <div class="col-2 mt-2">
            <button (click)="searchModules()" [disabled]="getcontrol('searchTerm').invalid"
                class="btn btn-lg btn-block btn-pill btn-outline-primary btn-outline-2x ladda-button"
                data-style="expand-left">
                <span>
                    Buscar
                </span>
            </button>
        </div>
        <div class="col-2 mt-2">
            <button (click)="restartSearch()" [disabled]="getcontrol('searchTerm').invalid"
                class="btn btn-lg btn-block btn-pill btn-outline-secondary btn-outline-2x ladda-button"
                data-style="expand-left">
                <i class="fa fa-refresh"></i>
                Limpiar
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <navigation-ribbon [config]="navigationRibbonConfig"></navigation-ribbon>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-sm-4 col-lg-2 mt-5" *ngFor="let module of modules; let i = index">
            <square-pill-button (clickIconCorner)="openModal($event)" (clickPill)="enterModule($event)" [pillMode]="2"
                [pillIcon]="'fa fa-pencil'" [module]="module">
            </square-pill-button>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 mt-5" *ngIf="content">
            <square-pill-button [pillMode]="3" (clickPill)="navigateToGenerateContent($event)" [content]="content">
            </square-pill-button>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 mt-5" ngbDropdown placement="top-right" #dropOptions="ngbDropdown"
            *ngIf="!isRootModule()">
            <div (click)="$event.stopPropagation(); dropOptions.open();">
                <square-pill-button [pillMode]="1" [pillIcon]="'fa fa-plus'">
                </square-pill-button>
            </div>
            <div ngbDropdownMenu class="dropdown-menu-right-rounded">
                <button class="dropdown-item" (click)="openModal()">Crear sub módulo</button>
                <button class="dropdown-item" (click)="navigateToGenerateContent()" [disabled]="content">Crear
                    contenido</button>
            </div>
        </div>
        <div class="col-6 col-sm-4 col-lg-2 mt-5" *ngIf="isRootModule()">
            <square-pill-button (click)="openModal()" [pillMode]="1" [pillIcon]="'fa fa-plus'">
            </square-pill-button>
        </div>
    </div>
</div>