<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <navigation-ribbon [config]="navigationRibbonConfig"></navigation-ribbon>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2 mt-5" *ngFor="let language of languages">
                <square-pill-button [pillMode]="4" (clickPill)="enterLanguage($event)" [disease]="language">
                </square-pill-button>
            </div>
        </div>
    </div>
</div>