<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
	(mouseout)="sidebarHover()">
	<div class="app-sidebar-content">
		<div class="app-sidebar-scroll">
			<perfect-scrollbar [autoPropagation]="true">
				<div class="v-sidebar-menu vsm-default">
					<div class="row mt-3">
						<div class="col-12 d-flex justify-content-center mt-3">
							<h5 class="text-white">Bienvenido, <strong>{{ "" }}.</strong></h5>
						</div>
					</div>
					<div class="vsm-list">
						<ngb-accordion [destroyOnHide]="false" [closeOthers]="true">
							<ngb-panel>
								<ng-template ngbPanelHeader>
									<div class="vsm-header ml-2">{{ mainMenuText }}</div>
								</ng-template>
							</ngb-panel>
						</ngb-accordion>
						<div class="vsm-item">
							<a [routerLink]="['/diseases']" routerLinkActive="active-item"
								[routerLinkActiveOptions]="{ exact: true }" class="vsm-link">
								<i class="vsm-icon pe-7s-like"></i>
								<span class="vsm-title">Enfermedades</span>
							</a>
						</div>
						<div class="vsm-item">
							<a [routerLink]="['/modules/render-diseases']" routerLinkActive="active-item"
								[routerLinkActiveOptions]="{ exact: true }" class="vsm-link">
								<i class="vsm-icon pe-7s-network"></i>
								<span class="vsm-title">Modulos</span>
							</a>
						</div>
						<div class="vsm-item">
							<a [routerLink]="['/image-bank']" routerLinkActive="active-item"
								[routerLinkActiveOptions]="{ exact: true }" class="vsm-link">
								<i class="vsm-icon pe-7s-photo"></i>
								<span class="vsm-title">Banco de Imagenes</span>
							</a>
						</div>
						<div class="vsm-item">
							<a [routerLink]="['/glossary-word']" routerLinkActive="active-item"
								[routerLinkActiveOptions]="{ exact: true }" class="vsm-link">
								<i class="vsm-icon pe-7s-notebook"></i>
								<span class="vsm-title">Glosario de Palabras</span>
							</a>
						</div>
						<div class="vsm-item">
							<a [routerLink]="['/self-evaluations']" routerLinkActive="active-item"
								[routerLinkActiveOptions]="{ exact: true }" class="vsm-link">
								<i class="vsm-icon pe-7s-study"></i>
								<span class="vsm-title">Auto evaluaciones</span>
							</a>
						</div>
						<div class="vsm-item">
							<a [routerLink]="['/privacy-policies']" routerLinkActive="active-item"
								[routerLinkActiveOptions]="{ exact: true }" class="vsm-link">
								<i class="vsm-icon pe-7s-news-paper"></i>
								<span class="vsm-title">Políticas de Privacidad</span>
							</a>
						</div>
					</div>
				</div>
			</perfect-scrollbar>
		</div>
	</div>
</div>